@{

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h3>OnurKAPICI</h3>
    <div id="map"></div>
   

    <button onclick="goMap()">Git</button>

    <script>
        
        var mapLat = 40.990444;
        var mapLng = 29.029145;

        function initMap() {

            var mapTitle="kapıcı"

            var uluru = { lat: mapLat, lng: mapLng };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                mapTypeId: google.maps.MapTypeId.ROADMAP



            });

            infowindow = new google.maps.InfoWindow({ content: mapTitle });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
            infowindow.open(map, marker);



        }

        function goMap() {

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }


            function showPosition(position) {

                alert("Yol Tarifi İçin Google Haritalara Yönlendiriliyorsunuz -" + position.coords.latitude + "--" + position.coords.longitude);

               

                window.open('https://www.google.com.tr/maps/dir/' + position.coords.latitude + ',' + position.coords.longitude + '/' + mapLat + ',' + mapLng + '/@@' + mapLat + ',' + mapLng + ',10z');


            }
                   
                    
            
           
            
            
                
        }





    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0bL34wg4_96sYq5ZoHAXCUijemaOP6lI&callback=initMap">
    </script>

</body>
</html>


